<div ng-controller="SideNavController">
	<div hide-xs hide-sm>
		<div layout="row" layout-padding layout-align="space-between center" class="navigation">
			<div>
				<img src="images/logo/SEREN-nav-logo.png" class="navbar-logo"/>
			</div>
			<div>
		  	<md-button ng-href="#!/home" class="md-icon-button md-primary">
					<md-tooltip md-direction="bottom">Home</md-tooltip>
					<md-icon style="color: white;" md-font-icon="fa fa-home"></md-icon>
				</md-button>
				<md-button ng-href="#!/wallet" class="md-icon-button md-primary">
					<md-tooltip md-direction="bottom">Wallet</md-tooltip>
					<md-icon style="color: white;" md-font-icon="fa fa-credit-card"></md-icon>
				</md-button>
				<md-button ng-href="#!/account" class="md-icon-button md-primary">
					<md-tooltip md-direction="bottom">Account</md-tooltip>
					<md-icon style="color: white;" md-font-icon="fa fa-user"></md-icon>
				</md-button>
		    <md-button ng-href="#!/logout" class="md-icon-button md-primary">
					<md-tooltip md-direction="bottom">Sign Out</md-tooltip>
					<md-icon style="color: white;" md-font-icon="fa fa-sign-out"></md-icon>
				</md-button>
			</div>
		</div>
	</div>

	<div hide-gt-sm>
		<div layout="row" layout-padding class="navigation" layout-align="center center">
		    <md-button ng-click="toggleLeft()" class="md-icon-button md-primary">
					<md-icon style="color: white;" md-font-icon="fa fa-bars"></md-icon>
				</md-button>
				<img src="images/logo/SEREN-nav-logo.png" class="navbar-logo"/>
		    <md-button ng-href="#!/logout" class="md-icon-button md-primary">
					<md-icon style="color: white;" md-font-icon="fa fa-sign-out"></md-icon>
				</md-button>
		</div>
	</div>

	<section layout="row" flex>

	    <md-sidenav class="md-sidenav-left" md-component-id="left"
	                md-disable-backdrop md-whiteframe="4">

	      <md-toolbar class="navigation">
	        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
	      </md-toolbar>

	      <md-content layout-margin>
	        <p>
	          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
	        </p>
	        <md-button ng-click="toggleLeft()" class="md-accent">
	          Close this Sidenav
	        </md-button>
	      </md-content>

	    </md-sidenav>

	    <md-content flex layout-padding>

	      <div layout="column" layout-align="top center">
	        <p>
	          Developers can also disable the backdrop of the sidenav.<br/>
	          This will disable the functionality to click outside to close the sidenav.
	        </p>

	        <div>
	          <md-button ng-click="toggleLeft()" class="md-raised">
	            Toggle Sidenav
	          </md-button>
	        </div>

	      </div>

	    </md-content>

	  </section>
</div>
