<div layout="row" layout-padding layout-align="space-between center" class="navigation navigation-restrict">
	<div>
		<img src="images/logo/SEREN-nav-logo.png" class="navbar-logo"/>
	</div>
	<div>
	&nbsp;
	</div>
</div>