<md-dialog>
    <md-toolbar>
      <div class="md-toolbar-tools md-accent">
        <h2>Recent Trasactions</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <span ng-repeat="allTransactions in transactions">
          <md-card ng-repeat="transaction in allTransactions track by $index">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">{{transaction.baseType}} {{transaction.categoryType}}</span>
                    <span class="md-subhead">{{transaction.amount.amount}} {{transaction.amount.currency}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
              <p>{{transaction.date}}</p>
              <p>{{transaction.description.original}}</p>
              <p>{{transaction.description.simple}}</p>
            </md-card-content>
          </md-card>
        </span>
      </div>
    </md-dialog-content>
</md-dialog>
