<ng-nav></ng-nav>

<div ng-controller="AccountController">
  <md-content flex layout-padding layout="column">
    <md-card flex="100">
      <md-card-content layout="row" ng-if="accounts">
        <div flex>
          <h2>Your Account</h2>
          <span ng-if="accounts.user[0]">
            <p><strong>Name</strong>: {{accounts.user[0].first_name}} {{accounts.user[0].last_name}}</p>
            <p><strong>Email</strong>: {{accounts.user[0].email}}</p>
            <p><strong>Creation Date</strong>: {{accounts.user[0].created_at}}</p>
          </span>
          <span ng-if="!accounts.user[0]">
            <p><strong>Cannot load identity information.</strong></p>
          </span>
        </div>
        <div flex>
          <h2>Identity Confirmation</h2>
          <span ng-if="accounts.confirm[0]">
            <p><strong>Proven Using</strong>: {{accounts.confirm[0].type}}</p>
            <p><strong>Confirmation Date</strong>: {{accounts.confirm[0].created_at}}</p>
          </span>
          <span ng-if="!accounts.confirm[0]">
            <p><strong>Cannot load identity information.</strong></p>
          </span>
        </div>
        <div flex>
          <h2>Linked Services</h2>
          <span ng-if="accounts.yodlee[0]">
            <p><strong>Yodlee Account</strong>: {{accounts.yodlee[0].username}}</p>
            <p><strong>Link Date</strong>: {{accounts.yodlee[0].created_at}}</p>
          </span>
          <span ng-if="!accounts.yodlee[0]">
            <p>No Linked Services Yet</p>
          </span>
        </div>
      </md-card-content>
      <md-card-content layout="row" ng-if="!accounts">
        <span flex></span>
        <span>
          Loading Account Details <md-icon md-font-icon="fa fa-spinner fa-spin">
        </span>
        <span flex></span>
      </md-card-content>
    </md-card>
  </md-content>
</div>
