<ng-nav-restrict></ng-nav-restrict>

<div ng-controller="ForgotController">
  <div layout="column" layout-align="center center" layout-fill>
		<div class="loginBox md-whiteframe-z1", layout="column">
      <md-toolbar>
		      <h2 class="md-toolbar-tools">Forgotten Password</h2>
			</md-toolbar>
    	<md-content class="md-padding" layout="column">
        <md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Email Address</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-envelope"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="email" ng-model="email">
				</md-input-container>
      	<div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button ng-href="#!/" class="md-raised md-warn">Back</md-button>
					<span flex></span>
					<md-button ng-disabled="true" class="md-raised md-primary">Submit</md-button>
        </div>
			</md-content>
			<md-toolbar layout-padding>
	        <div class="md-toolbar-tools">
	            <span flex></span>
	            <p class="md-flex">&nbsp;</p>
	            <span flex></span>
	        </div>
	    </md-toolbar>
		</div>
	</div>
</div>
