<ng-nav></ng-nav>

<div ng-controller="HomeController">
    <md-toolbar layout-padding>
        <div class="md-toolbar-tools">
            <span flex></span>
            <h2 class="md-flex">Hey {{user.first_name}} {{user.last_name}}, here are the services Seren currently offers!</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-content flex layout-padding layout="column">
      <span flex>
        <md-card flex>
          <md-card-header>
            <md-card-header-text layout-align="center center">
              <span class="md-title">Yodlee</span>
            </md-card-header-text>
          </md-card-header>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="loadBankAccounts()" ng-disabled="uiLoadingBankAccounts">
              <span ng-if="!uiLoadingBankAccounts">Load Bank Accounts</span>
              <md-icon ng-if="uiLoadingBankAccounts" md-font-icon="fa fa-spinner fa-spin">
            </md-button>
            <span flex></span>
            <form action="https://node.developer.yodlee.com/authenticate/restserver/" method="POST">
            	<input type="hidden" name="app" value="{{fastlinkParams.app}}" />
            	<input type="hidden" name="rsession" value="{{fastlinkParams.rsession}}"/>
            	<input type="hidden" name="token" value="{{fastlinkParams.token}}"/>
            	<input type="hidden" name="redirectReq" value="{{fastlinkParams.redirectReq}}"/>
            	<input type="hidden" name="extraParams" value="{{fastlinkParams.extraParams}}"/>
              <md-button type='submit' name="submit" class="md-raised md-primary">Add Accounts</md-button>
            </form>
          </md-card-actions>
          <md-divider></md-divider>
        </md-card>
      </span>
      <span flex>
        <md-card flex ng-if="financial">
            <md-card-header>
                <md-card-header-text layout-align="center center">
                    <span class="md-title">Bank Accounts</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content flex layout-padding layout="row" layout-sm="column" layout-xs="column">
              <md-card ng-repeat="account in financial" flex>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{account.providerName}}</span>
                        <span class="md-subhead">{{account.accountName}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                  <h1>Details</h1>
                  <p>{{account.accountStatus}}</p>
                  <p>{{account.holderProfile[0].name.displayed}}</p>
                  <h2>Available Balance</h2>
                  <p>{{account.availableBalance.amount}}</p>
                  <p>{{account.availableBalance.currency}}</p>
                  <h2>Current Balance</h2>
                  <p>{{account.currentBalance.amount}}</p>
                  <p>{{account.currentBalance.currency}}</p>
                  <div layout="column">
                    <md-button ng-disabled="uiLoadingTransactions" class="md-primary md-raised" ng-click="showAdvanced($event)">
                      <span ng-if="!uiLoadingTransactions">View Transactions</span>
                      <md-icon ng-if="uiLoadingTransactions" md-font-icon="fa fa-spinner fa-spin">
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised md-warn" ng-click="uiConfirmDelete = !uiConfirmDelete">
                      <span ng-if="!uiConfirmDelete">Delete</span>
                      <span ng-if="uiConfirmDelete">Cancel</span>
                    </md-button>
                  </div>
                  <div ng-if="uiConfirmDelete">
                    <md-divider></md-divider>
                    <div layout="column" layout-align="center center">
                      <strong>Are you sure you want to delete this account?</strong>
                      <md-button class="md-raised md-warn" ng-click="deleteAccount(account.id)">
                        Yes
                      </md-button>
                  </div>
                </md-card-content>
              </md-card>
            </md-card-content>
        </md-card>
      </span>
    </md-content>
</div>
