<ng-nav-restrict></ng-nav-restrict>

<div ng-controller="LoginController">
	<div layout="column" layout-align="center center" layout-fill>
		<div class="loginBox md-whiteframe-z1", layout="column">
    	<md-toolbar>
				<h2 class="md-toolbar-tools">Login</h2>
			</md-toolbar>
			<md-content class="md-padding" layout="column">
				<h3 ng-if="uiLogoutMessage">{{uiLogoutMessage}}</h3>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Email Address</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-envelope"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="email" ng-model="username">
				</md-input-container>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Password</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-key"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="password" ng-model="password">
				</md-input-container>

				<md-divider></md-divider>

				<div layout="row" layout-align="center center" style="padding-top:20px;">
					<md-button ng-href="#!/register" class="md-raised md-accent">Register</md-button>
					<md-button ng-href="#!/forgot-password" class="md-raised md-warn">Forgot Password</md-button>
					<div flex></div>
					<md-button ng-click="login()" class="md-raised md-primary">Login</md-button>
				</div>
			</md-content>
			<md-toolbar layout-padding>
	        <div class="md-toolbar-tools">
	            <span flex></span>
	            <p class="md-flex">&nbsp;</p>
	            <span flex></span>
	        </div>
	    </md-toolbar>
		</div>
	</div>
</div>
