<ng-nav-restrict></ng-nav-restrict>

<div ng-controller="RegisterController">
	<div layout="column" layout-align="center center" layout-fill>
		<div class="loginBox md-whiteframe-z1", layout="column">
			<md-toolbar layout-padding>
	        <div class="md-toolbar-tools">
	            <span flex></span>
	            <h2 class="md-flex">Registration Form</h2>
	            <span flex></span>
	        </div>
	    </md-toolbar>
    	<md-content class="md-padding" layout="column">
				<p class="md-flex">First some basic details</p>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">First Name</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-user"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="text" ng-model="form.first_name">
				</md-input-container>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Last Name</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-user"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="text" ng-model="form.last_name">
				</md-input-container>
      	<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Email Address</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-envelope"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="email" ng-model="form.email">
				</md-input-container>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Confirm Email Address</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-envelope"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="email" ng-model="form.confirmemail">
				</md-input-container>
      	<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Password</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-key"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="password" ng-model="form.password">
				</md-input-container>
				<md-input-container class="md-icon-float">
					<label style="border-color: #313131; color: #313131;">Confirm Password</label>
					<md-icon style="border-color: #313131; color: #313131;" md-font-icon="fa fa-key"></md-icon>
					<input style="border-color: #313131; color: #313131;" type="password" ng-model="form.confirmpassword">
				</md-input-container>
				<p class="md-flex">Next securely confirm your identity!</p>

				<span layout="row" layout-sm="column" layout-xs="column">
					<span flex></span>
				  <div layout="column" layout-align="center center">
				    <br>
						Identity Front: <span ng-if="myFile">{{myFile.name | limitTo : 20}}<span ng-if="myFile.length > 20">...</span></span>
						<span ng-if="!myFile">No File Selected</span>
				    <input class="ng-hide" id="input-file-myFile" type="file" ngf-select ng-model="myFile" name="myFile"
				           accept="image/*" ngf-max-size="10MB" required
				           ngf-model-invalid="errorFiles"/>
				    <br>
						<label for="input-file-myFile" class="md-button md-fab" ng-class="myFile ? 'md-accent' : 'md-primary'">
							<md-icon ng-if="!myFile" md-font-icon="fa fa-paperclip"></md-icon>
							<md-icon ng-if="myFile" md-font-icon="fa fa-check"></md-icon>
				    </label>
				    <label ng-if="myFile" class="md-button md-fab md-warn" ng-click="clear()">
							<md-icon md-font-icon="fa fa-times"></md-icon>
						</label>
				  </div>
				  <span flex></span>
					<div layout="column" layout-align="center center">
				    <br>Identity Back: <span ng-if="myFile2">{{myFile2.name | limitTo : 20}}<span ng-if="myFile2.length > 20">...</span></span>
						<span ng-if="!myFile2">No File Selected</span>
						<input class="ng-hide" id="input-file-myFile2" type="file" ngf-select ng-model="myFile2" name="myFile2"
				           accept="image/*" ngf-max-size="10MB" required
				           ngf-model-invalid="errorFiles"/>
				    <br>
				    <label for="input-file-myFile2" class="md-button md-fab" ng-class="myFile2 ? 'md-accent' : 'md-primary'">
							<md-icon ng-if="!myFile2" md-font-icon="fa fa-paperclip"></md-icon>
							<md-icon ng-if="myFile2" md-font-icon="fa fa-check"></md-icon>
				    </label>
				    <label ng-if="myFile2" class="md-button md-fab md-warn" ng-click="clear2()">
							<md-icon md-font-icon="fa fa-times"></md-icon>
						</label>
				  </div>
				  <span flex></span>
				</span>

				<br>

				<!--
				<span>
					<md-button ngf-select ng-model="myFile">Select Front Image</md-button>
					<md-button ngf-select ng-model="myFile2">Select Back Image</md-button>
				</span>
				-->
				<span layout="row" layout-align="center center" ng-if="!uiConfirmMessage && check.status !== 'pass'">
					<md-button ng-click="confirmio(myFile, myFile2)" class="md-raised md-primary" ng-disabled="!myFile || !myFile2">Submit Files for Approval</md-button>
				</span>

				<div class="container" ng-if="uiConfirmMessage" layout="row">
					<span flex></span>
					<div ng-if="check.status !== 'pass'" layout="column">
						<span ng-if="uiConfirmMessage">{{uiConfirmMessage}}</span>
						<md-progress-linear md-mode="indeterminate"></md-progress-linear>
					</div>
					<span flex></span>
  			</div>

				<div class="container" ng-if="check.status == 'pass'" layout="row">
					<span flex></span>
					<div layout="column">
						<span>Identity confirmed</span>
						<md-progress-linear md-mode="determinate" value="100" class="md-accent"></md-progress-linear>
					</div>
					<span flex></span>
  			</div>

				<br>

				<md-divider></md-divider>

				<div layout="row" layout-align="center center" style="padding-top:20px;">
			  	<md-button ng-href="#!/" class="md-raised md-warn">Back</md-button>
					<span flex></span>
					<md-button ng-click="register()" ng-disabled="check.status !== 'pass'" class="md-raised md-primary">Register</md-button>
			  </div>
			</md-content>
			<md-toolbar layout-padding>
	        <div class="md-toolbar-tools">
	            <span flex></span>
	            <p class="md-flex">&nbsp;</p>
	            <span flex></span>
	        </div>
	    </md-toolbar>
		</div>
	</div>
</div>
