body {
  overflow-y: hidden !important;
}

.navigation {
	background-color: #313131;
	color: white;
}

.navigation-restrict {
	background-color: #313131;
	color: white;
}

.loginBox {
  max-width: 90%;
  width: 800px;
  margin-top: 20px;
}

.stretch input  {
  width: 100%
}

.navbar-logo {
	width:20%;
	height:20%;
}

.black {
	color: #313131;
	border-color: #313131;
}
